body {
    font-family: Arial, sans-serif;
  }
  
  header {
    color: #4CAF50;
    padding: 20px 0;
    text-align: center;
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  #offersBox {
    display: none;
  }
  