body {
    font-family: Arial, sans-serif;
  }
  
  header {
    color: #007bff;
    text-align: center;
  }
  
  footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  #offersBox {
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}
  
  
  